<div class="actions-card-header-container">
  <span class="info-header" translate>{{'dashboard.actions_card.title'}}</span>

  <div class="actions-card-header row">
    <div class="col-9" translate>{{'dashboard.actions_card.demands_summary'}}</div>
    <div class="col-3 text-right">
      <i class="fa fa-info-circle" (click)="goTo('/toto')"></i>
    </div>
  </div>
</div>

<div class="actions-card-data row">
  <div class="col-4 text-left">
    <div class="info-label" translate>{{'dashboard.actions_card.accepted_demands'}}</div>
    <div class="info-data">35109</div>
  </div>
  <div class="col-4 text-center">
    <div class="info-label" translate>{{'dashboard.actions_card.refused_demands'}}</div>
    <div class="info-data">19</div>
  </div>
  <div class="col-4 text-right">
    <div class="info-label" translate>{{'dashboard.actions_card.on_hold_demands'}}</div>
    <div class="info-data">0</div>
  </div>
</div>
<div class="actions-card-link row custom-border">
  <div class="col-10 row-item:first" translate>{{'dashboard.actions_card.consult_demands_on_hold'}}</div>
  <div class="col-2 row-item:first text-right">
    <i class="fa fa-arrow-circle-right" (click)="goTo('/toto')"></i>
  </div>
  <div class="col-10 row-item" translate>{{'dashboard.actions_card.consult_demands'}}</div>
  <div class="col-2 row-item text-right">
    <i class="fa fa-arrow-circle-right" (click)="goTo('/toto')"></i>
  </div>
</div>

<div class="border"></div>

<div class="actions-card-header-container">
  <span class="info-header" translate>{{'dashboard.actions_card.extraction'}}</span>

  <div class="actions-card-header row">
    <div class="col-9" translate>{{'dashboard.actions_card.last_generation'}}
      <span style="padding-left: 10px; font-size: 13px;">27/06/2017</span>
      <!--<div class="info-data"></div>-->
    </div>
    <div class="col-3 text-right">
      <i class="fa fa-info-circle" (click)="goTo('/toto')"></i>
    </div>
  </div>
</div>

<div class="actions-card-link row custom-border">
  <div class="col-10" translate>{{'dashboard.actions_card.download_files'}}</div>
  <div class="col-2 text-right">
    <i class="fa fa-arrow-circle-right" (click)="goTo('/toto')"></i>
  </div>
</div>