<div class="row">
  <ba-card class="col-xlg-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" baCardClass="popular-app medium-card">
    <reflex-actions-card></reflex-actions-card>
  </ba-card>

  <ba-card class="col-xlg-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" baCardClass="popular-app medium-card">
    <reflex-feeds-card></reflex-feeds-card>
  </ba-card>

  <div class="col-xlg-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ba-card title="dashboard.feed" baCardClass="medium-card with-scroll feed-panel">
      <reflex-feed></reflex-feed>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-xlg-12 col-xl-12 col-lg-12  col-md-12 col-sm-12 col-12">
    <!-- <div class="row"> -->
      <!--<ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-12" baCardClass="traffic-panel medium-card">
        <reflex-traffic-chart></reflex-traffic-chart>
      </ba-card>-->

      <ba-card title="dashboard.tabs.title" class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-12 indicators" baCardClass="traffic-panel medium-card">
        <!-- <ngb-tabset>
          <ngb-tab title="{{'dashboard.tabs.tab_1.title' |translate}}"> -->
            <!-- <ng-template ngbTabContent> -->
              <reflex-traffic-chart></reflex-traffic-chart>
            <!-- </ng-template> -->
          <!-- </ngb-tab>
          <ngb-tab title="{{'dashboard.tabs.tab_2' |translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'dashboard.tabs.tab_3' |translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'dashboard.tabs.tab_4' |translate}}">
            <ng-template ngbTabContent>

            </ng-template>
          </ngb-tab>
        </ngb-tabset> -->
      </ba-card>
    <!-- </div> -->
  </div>
</div>