<div class="feeds-card-header-container">
  <span class="info-header" translate>{{'dashboard.feeds_card.title'}}</span>
</div>

<div class="feeds-card-data row">
  <div class="col-4 text-left">
    <div class="info-label">{{'dashboard.feeds_card.to_be_processed' | translate }}</div>
    <div class="info-data">35109</div>
  </div>
  <div class="col-4 text-center">
    <div class="info-label">{{'dashboard.feeds_card.in_failure' | translate }}</div>
    <div class="info-data">19</div>
  </div>
  <div class="col-4 text-right">
    <div class="info-label">{{'dashboard.feeds_card.succeeded' | translate }}</div>
    <div class="info-data">0</div>
  </div>
</div>
<div class="feeds-card-link row custom-border">
  <div class="col-10 row-item" translate>{{'dashboard.feeds_card.consult_details'}}</div>
  <div class="col-2 row-item text-right">
    <i class="fa fa-arrow-circle-right" (click)="goTo('/toto')"></i>
  </div>
</div>

<div class="border"></div>

<div class="feeds-card-header-container">
  <span class="info-header" translate>{{'dashboard.feeds_card.identifiers'}}</span>

  <div class="feeds-card-header row">
    <div class="col-10" translate>{{'dashboard.feeds_card.identifiers_history'}}</div>
    <div class="col-2 text-right">
      <i class="fa fa-arrow-circle-right" (click)="goTo('/toto')"></i>
    </div>
  </div>
</div>